* {
    box-sizing: border-box;
  }

h1{
    background-color: dimgrey;
    color: white;
    text-align: center;
    font-size: 60px;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.current-weather {
    background-color: rgb(219, 212, 212);
    border: black;
    border-radius: 10px;
}

.nameDate {
    font-size: 28px;
    font-weight: bolder;
}

.searchedCity {
    background-color: white;
    height: 75px;
    font-size: 20px;
    text-align: left;
    width: 100%;
    border-radius: 10px;
}

input {
    display: block;
}

